body {
  margin: 0;
  padding: 0;
  font-family: 'StandardCT-ExtraBold', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.splash {
  /*background-color: #E24E42;*/
  background-color: #f0eee2;
  width: 100%;
  height: 2em;
  font-family: 'Modak', cursive;
  font-size: 10em;
  color: white;
}

footer {
  background-color: rgb(246,246,247);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12em;
}

footer ul {
  padding: 0;
  margin: 0;
  display: inline-flex;
  list-style-type: none;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.flexcontainer-row {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: space-around;
}

.align-right {
  position: absolute;
  right: 3em;
}

.right-space {
  padding-right: 1em;
}

img {
  max-width: 90%;
  height: auto;
}

