body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgb(246,246,247);
  position:absolute;
  bottom:0;
  width:100%;
  height:150px;
}

.container {
   min-height:100%;
   position:relative;
}

